header {
  width        : 80%;
  padding-right: 10px;
  max-width    : 1080px;
  margin       : 40px auto;
}

header img {
  max-width : 225.2px;
  max-height: 49.3px;
}

header hr {
  margin-top: 20px;
  border    : 0.5px solid rgb(4, 30, 41);
}