@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
  margin    : 0;
  padding   : 0;
  outline   : 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;

  font-family   : 'Sen', sans-serif;
  font-weight   : bold;
  letter-spacing: 2.5px;

  background: #03151D;
  color     : #efefef;

  padding-left: 10px;
}