.founds-container{
  align-items: center;
  align-content: space-between;
  width: 100%;

}
.founds-container-header{
  align-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#CFCFCF;
  margin: auto;
  
}
.founds-container button{
  position: absolute;
  right: 24px;
  top: 31px;
  border: 0;
  transition: 0.2s;
}
.founds-container button:hover{
  opacity: 0.8;
}
.founds-container strong{
  display: block;
  margin-bottom: 16px;
  color:#03151D;
  font-size: 40px;
}
.founds-container p + strong{
  margin-top: 32px;

}
.founds-container-content{
  margin-top: 20px;
  font-weight: bold;
  color: #03151D;
}
.founds-container-content p {
  color:#03151D;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}