<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h2>Cotas</h2>
        <hr></hr>
    </header>

    <div id="container">
        <h1>Buscar</h1>
        <p>Encontre o valor <span class="hightlight">atualizado</span> da sua cota</p>
        <input type="text" placeholder="Busque por nome ou CNPJ">
        <section class="buttons">
            <button>Popular</button>
            <button>Trending</button>
            <button>Recentes</button>
            <button>Favoritos</button>
        </section>

        <section class="cotas">
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>

            <div class="cota"><h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p></div>
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>
            
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p></div>
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>
            <div class="cota">
                <h1>Título</h1>
                <p>Nome: Adam Advanced II FIC de FIM Créd Priv Invest Ext </p>
                <p>Cota:  1,90305953</p>
                <p>Data: 29/04/2020</p>
                <p>CNPJ: 24.018.977/0001-02</p>
            </div>
        </section>
    </div>   
</body>
</html>