#container {
    width     : 80%;
    margin    : 0 auto;
    margin-top: 50px;

    max-width: 1080px;

    display       : flex;
    flex-direction: column;
}

#container .searchs {
    margin       : 10px 0;
    padding-right: 25px;
}

#container p {
    color: #A6A6A6;
}

#container h1 {
    margin: 0;
}

#container p span {
    padding-bottom: 5px;
    border-bottom : 1px solid #00ADDB;
}

#container p span.hightlight {
    color      : #d3d3d3;
    font-weight: 800;
}

#container button {
    background: #efefef;
    color     : #03151D;

    font-family   : 'Sen', sans-serif;
    font-size     : 14px;
    font-weight   : bold;
    letter-spacing: 1.5px;

    width: 24%;
}

#container .squareButtons {
    display        : flex;
    justify-content: space-between;
}

#container .squareButtons button {
    height: 45px;

    border       : none;
    border-radius: 5px;
}

#container .circleButtons {
    display        : flex;
    flex-flow      : row;
    justify-content: space-between;

    margin-bottom: 45px;
}

#container .circleButtons .iconSection {
    flex      : 1;
    flex-flow : column wrap;
    text-align: center;

    display: grid;
}

#container .circleButtons .iconSection label {
    font-size: 0.6rem;
    padding  : 5px;
}



#container .circleButtons .iconSection .icon {
    place-self: center;

    transition      : background-color 300ms ease-in-out;
    background-color: whitesmoke;
    border-radius   : 50%;
    display         : inline-block;
    height          : 50px;
    width           : 50px;
    padding         : 12px;
    padding         : 13px;
    text-align      : center;
    vertical-align  : middle;
    margin-bottom   : 8px;
}


#container .cotas {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    margin         : 30px 0;
}

#container .cota {
    min-width: 250px;
    width    : 26%;

    height: 250px;

    padding: 30px;

    margin: 15px 0;

    border-radius: 15px;

    background: #efefef;
    color     : #5E5E5E;

}

@media (max-width: 800px) {
    #container .searchs {
        padding-right: 0;
    }
}